@model IGrid<PainelDadosRelModel>
@{
    List<decimal> valDevidoMeses = new List<decimal>();
    List<decimal> valCreditoMeses = new List<decimal>();
    List<decimal> valPagoMeses = new List<decimal>();
    List<decimal> valSaldoMeses = new List<decimal>();
    

    valDevidoMeses.Add(Model.Rows.Where(x => x.Model.JanTipoSaldo == TipoSaldo.Debito && x.Model.JanStatusPagamento != StatusPagamento.Pago).Sum(row => row.Model.JanValor)!.Value);
    valDevidoMeses.Add(Model.Rows.Where(x => x.Model.FevTipoSaldo == TipoSaldo.Debito && x.Model.FevStatusPagamento != StatusPagamento.Pago).Sum(row => row.Model.FevValor)!.Value);
    valDevidoMeses.Add(Model.Rows.Where(x => x.Model.MarTipoSaldo == TipoSaldo.Debito && x.Model.MarStatusPagamento != StatusPagamento.Pago).Sum(row => row.Model.MarValor)!.Value);
    valDevidoMeses.Add(Model.Rows.Where(x => x.Model.AbrTipoSaldo == TipoSaldo.Debito && x.Model.AbrStatusPagamento != StatusPagamento.Pago).Sum(row => row.Model.AbrValor)!.Value);
    valDevidoMeses.Add(Model.Rows.Where(x => x.Model.MaiTipoSaldo == TipoSaldo.Debito && x.Model.MaiStatusPagamento != StatusPagamento.Pago).Sum(row => row.Model.MaiValor)!.Value);
    valDevidoMeses.Add(Model.Rows.Where(x => x.Model.JunTipoSaldo == TipoSaldo.Debito && x.Model.JunStatusPagamento != StatusPagamento.Pago).Sum(row => row.Model.JunValor)!.Value);
    valDevidoMeses.Add(Model.Rows.Where(x => x.Model.JulTipoSaldo == TipoSaldo.Debito && x.Model.JulStatusPagamento != StatusPagamento.Pago).Sum(row => row.Model.JulValor)!.Value);
    valDevidoMeses.Add(Model.Rows.Where(x => x.Model.AgoTipoSaldo == TipoSaldo.Debito && x.Model.AgoStatusPagamento != StatusPagamento.Pago).Sum(row => row.Model.AgoValor)!.Value);
    valDevidoMeses.Add(Model.Rows.Where(x => x.Model.SetTipoSaldo == TipoSaldo.Debito && x.Model.SetStatusPagamento != StatusPagamento.Pago).Sum(row => row.Model.SetValor)!.Value);
    valDevidoMeses.Add(Model.Rows.Where(x => x.Model.OutTipoSaldo == TipoSaldo.Debito && x.Model.OutStatusPagamento != StatusPagamento.Pago).Sum(row => row.Model.OutValor)!.Value);
    valDevidoMeses.Add(Model.Rows.Where(x => x.Model.NovTipoSaldo == TipoSaldo.Debito && x.Model.NovStatusPagamento != StatusPagamento.Pago).Sum(row => row.Model.NovValor)!.Value);
    valDevidoMeses.Add(Model.Rows.Where(x => x.Model.DezTipoSaldo == TipoSaldo.Debito && x.Model.DezStatusPagamento != StatusPagamento.Pago).Sum(row => row.Model.DezValor)!.Value);

    valCreditoMeses.Add(Model.Rows.Where(x => x.Model.JanTipoSaldo == TipoSaldo.Credito).Sum(row => row.Model.JanValorPago)!.Value);
    valCreditoMeses.Add(Model.Rows.Where(x => x.Model.FevTipoSaldo == TipoSaldo.Credito).Sum(row => row.Model.FevValorPago)!.Value);
    valCreditoMeses.Add(Model.Rows.Where(x => x.Model.MarTipoSaldo == TipoSaldo.Credito).Sum(row => row.Model.MarValorPago)!.Value);
    valCreditoMeses.Add(Model.Rows.Where(x => x.Model.AbrTipoSaldo == TipoSaldo.Credito).Sum(row => row.Model.AbrValorPago)!.Value);
    valCreditoMeses.Add(Model.Rows.Where(x => x.Model.MaiTipoSaldo == TipoSaldo.Credito).Sum(row => row.Model.MaiValorPago)!.Value);
    valCreditoMeses.Add(Model.Rows.Where(x => x.Model.JunTipoSaldo == TipoSaldo.Credito).Sum(row => row.Model.JunValorPago)!.Value);
    valCreditoMeses.Add(Model.Rows.Where(x => x.Model.JulTipoSaldo == TipoSaldo.Credito).Sum(row => row.Model.JulValorPago)!.Value);
    valCreditoMeses.Add(Model.Rows.Where(x => x.Model.AgoTipoSaldo == TipoSaldo.Credito).Sum(row => row.Model.AgoValorPago)!.Value);
    valCreditoMeses.Add(Model.Rows.Where(x => x.Model.SetTipoSaldo == TipoSaldo.Credito).Sum(row => row.Model.SetValorPago)!.Value);
    valCreditoMeses.Add(Model.Rows.Where(x => x.Model.OutTipoSaldo == TipoSaldo.Credito).Sum(row => row.Model.OutValorPago)!.Value);
    valCreditoMeses.Add(Model.Rows.Where(x => x.Model.NovTipoSaldo == TipoSaldo.Credito).Sum(row => row.Model.NovValorPago)!.Value);
    valCreditoMeses.Add(Model.Rows.Where(x => x.Model.DezTipoSaldo == TipoSaldo.Credito).Sum(row => row.Model.DezValorPago)!.Value);

    valPagoMeses.Add(Model.Rows.Where(x => x.Model.JanTipoSaldo == TipoSaldo.Debito && x.Model.JanStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.JanValorPago)!.Value);
    valPagoMeses.Add(Model.Rows.Where(x => x.Model.FevTipoSaldo == TipoSaldo.Debito && x.Model.FevStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.FevValorPago)!.Value);
    valPagoMeses.Add(Model.Rows.Where(x => x.Model.MarTipoSaldo == TipoSaldo.Debito && x.Model.MarStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.MarValorPago)!.Value);
    valPagoMeses.Add(Model.Rows.Where(x => x.Model.AbrTipoSaldo == TipoSaldo.Debito && x.Model.AbrStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.AbrValorPago)!.Value);
    valPagoMeses.Add(Model.Rows.Where(x => x.Model.MaiTipoSaldo == TipoSaldo.Debito && x.Model.MaiStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.MaiValorPago)!.Value);
    valPagoMeses.Add(Model.Rows.Where(x => x.Model.JunTipoSaldo == TipoSaldo.Debito && x.Model.JunStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.JunValorPago)!.Value);
    valPagoMeses.Add(Model.Rows.Where(x => x.Model.JulTipoSaldo == TipoSaldo.Debito && x.Model.JulStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.JulValorPago)!.Value);
    valPagoMeses.Add(Model.Rows.Where(x => x.Model.AgoTipoSaldo == TipoSaldo.Debito && x.Model.AgoStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.AgoValorPago)!.Value);
    valPagoMeses.Add(Model.Rows.Where(x => x.Model.SetTipoSaldo == TipoSaldo.Debito && x.Model.SetStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.SetValorPago)!.Value);
    valPagoMeses.Add(Model.Rows.Where(x => x.Model.OutTipoSaldo == TipoSaldo.Debito && x.Model.OutStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.OutValorPago)!.Value);
    valPagoMeses.Add(Model.Rows.Where(x => x.Model.NovTipoSaldo == TipoSaldo.Debito && x.Model.NovStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.NovValorPago)!.Value);
    valPagoMeses.Add(Model.Rows.Where(x => x.Model.DezTipoSaldo == TipoSaldo.Debito && x.Model.DezStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.DezValorPago)!.Value);

    valSaldoMeses.Add(Model.Rows.Where(x => x.Model.JanStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.JanValorPago)!.Value);
    valSaldoMeses.Add(Model.Rows.Where(x => x.Model.FevStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.FevValorPago)!.Value);
    valSaldoMeses.Add(Model.Rows.Where(x => x.Model.MarStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.MarValorPago)!.Value);
    valSaldoMeses.Add(Model.Rows.Where(x => x.Model.AbrStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.AbrValorPago)!.Value);
    valSaldoMeses.Add(Model.Rows.Where(x => x.Model.MaiStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.MaiValorPago)!.Value);
    valSaldoMeses.Add(Model.Rows.Where(x => x.Model.JunStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.JunValorPago)!.Value);
    valSaldoMeses.Add(Model.Rows.Where(x => x.Model.JulStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.JulValorPago)!.Value);
    valSaldoMeses.Add(Model.Rows.Where(x => x.Model.AgoStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.AgoValorPago)!.Value);
    valSaldoMeses.Add(Model.Rows.Where(x => x.Model.SetStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.SetValorPago)!.Value);
    valSaldoMeses.Add(Model.Rows.Where(x => x.Model.OutStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.OutValorPago)!.Value);
    valSaldoMeses.Add(Model.Rows.Where(x => x.Model.NovStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.NovValorPago)!.Value);
    valSaldoMeses.Add(Model.Rows.Where(x => x.Model.DezStatusPagamento == StatusPagamento.Pago).Sum(row => row.Model.DezValorPago)!.Value);

}

<thead>
    <tr>
        <th id="relatorio" class="bg-dark text-center" colspan="16">Relatorio</th>
    </tr>
</thead>
<tbody>
    <tr>

        <td class="bg-danger" colspan="2"><b>Devido</b></td>
        @foreach (var valMes in valDevidoMeses)
        {
            <td class="bg-danger"><b>@(valMes.ToString("C2"))</b></td>
        }
        <td class="bg-danger" colspan="2">
            <b>
                @(valDevidoMeses.Sum()!.ToString("C2"))
            </b>
        </td>

    </tr>
    <tr>
        <td class="bg-success" colspan="2"><b>Credito</b></td>
        @foreach (var valMes in valCreditoMeses)
        {
            <td class="bg-success"><b>@(valMes.ToString("C2"))</b></td>
        }

        <td class="bg-success" colspan="2">
            <b>
                @(valCreditoMeses.Sum()!.ToString("C2"))
            </b>
        </td>

    </tr>
    <tr>
        <td class="bg-info" colspan="2"><b>Pago</b></td>
        @foreach (var valMes in valPagoMeses)
        {
            <td class="bg-info"><b>@(valMes.ToString("C2"))</b></td>
        }
        <td class="bg-info" colspan="2">
            <b>
                @(valPagoMeses.Sum()!.ToString("C2"))
            </b>
        </td>

    </tr>
    <tr>
        <td class="bg-dark" colspan="2"><b>Saldo</b></td>
        @foreach (var valMes in valSaldoMeses)
        {
            <td class="bg-dark"><b>@(valMes.ToString("C2"))</b></td>
        }
        <td class="bg-dark" colspan="2">
            <b>
                @(valSaldoMeses.Sum()!.ToString("C2"))
            </b>
        </td>

    </tr>
</tbody>