@model IEnumerable<Painel>
@{
    ViewData["Title"] = "Paineis";
}

<section class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">

                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content-header -->
<!-- Content Header (Page header) -->
@Html.AntiForgeryToken()
<section class="content">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">

            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->

                <div class="card card-solid">
                    <div class="card-header">
                        <h3 class="card-title">@ViewData["Title"]</h3>
                        <div class="card-tools">
                            <ul class="nav nav-pills ml-auto">
                                <li class="nav-item">
                                    <a asp-action="Cadastrar" class="btn btn-outline-primary float-right"><i
                                            class="fas fa-plus"></i> Novo painel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-group">
                        @foreach (Painel painel in Model)
                        {
                            <div class="card">
                                <img src="~/img/fin.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">@painel.Nome</h5>
                                    <p class="card-text"></p>

                                </div>
                                <div class="card-footer">
                                    <a asp-action="Index" asp-controller="PainelDados" asp-route-id="@painel.Id"
                                        class="btn btn-outline-primary">Ver</a>
                                    <a href="#" onclick="removerItemAjax('@painel.Id')"
                                        class="btn btn-outline-danger">Remover</a>
                                </div>
                            </div>
                        }
                        @if (Model.Count() == 0)
                        {
                            <div class="card-body">
                                <p>Nenhum painel cadastrado.</p>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
 <partial name="_ValidationScriptsPartial">
}