@model IEnumerable<PainelVisualizacao>
@{
    ViewData["Title"] = "Paineis";
}

<section class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content-header -->
<!-- Content Header (Page header) -->
@Html.AntiForgeryToken()
<section class="content">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">

            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->

                <div class="card card-solid">
                    <div class="card-header">
                        <h3 class="card-title">@ViewData["Title"]</h3>
                        <div class="card-tools">
                            <ul class="nav nav-pills ml-auto">
                                <li class="nav-item">
                                    <a asp-action="Cadastrar" class="btn btn-outline-primary float-right">
                                        <i class="fas fa-plus"></i> Novo painel
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mvc-grid-table">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="dt-center" scope="col">Nome Painel</th>
                                        <th class="dt-center" scope="col">#Visualizar</th>
                                        <th class="dt-center" scope="col">#Membros</th>
                                        <th class="dt-center" scope="col">#Remover</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (PainelVisualizacao painel in Model)
                                    {
                                        <tr>
                                            <td width="50%">@painel.Painel.Nome</td>
                                            <td class="dt-center" width="15%">
                                                <a asp-action="Index" asp-controller="PainelDados" asp-route-id="@painel.Painel.Id"
                                               class="btn btn-outline-primary"><i class="far fa-eye"></i></a>
                                            </td>
                                            <td class="dt-center" width="15%">
                                                <a href="#" class="btn btn-outline-info"><i class="fas fa-users"></i></a>
                                            </td>

                                            <td class="dt-center" width="15%">
                                                <a href="#" @(painel.Permissao == PainelPermissao.Dono ? $"onclick=removerItemAjax('{painel.Painel.Id}')" : "")
                                               class="btn btn-outline-danger"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                    @if (Model.Count() == 0)
                                    {
                                        <tr>
                                            <td colspan="4"><p>Nenhum painel cadastrado.</p></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <partial name="_ValidationScriptsPartial">
    }
